{% extends 'base.html'%}
{% load static %}
<!--
{% block content %}
  <div class="jumbotron text-center sunny-morning-gradient">
    {% if user.userprofile.image %}
    <div class="container">
    <img class="rounded-circle img-fluid w-25" src="{{ user.userprofile.image.url }}"/>
</div>
    {% else %}
    <a class="btn btn-warning text-dark rounded-circle" href="{% url 'catalog:profile_update' pk=user.id %}"><h3>Add Image</h3></a>
    {% endif %}
      <h3 class="username text-center mt-2">{{ user.get_username }}</h3>
        <p class="text-center">City: {{ user.userprofile.city }}</p>

      {% if user %}
      <div class="text-center">
          <a class="btn btn-warning text-dark" href="{% url 'catalog:profile_update' pk=user.id %}">Edit Profile</a>
          <!-- <a class="btn btn-primary" href="#">Follow</a>

      </div>
      {% endif %}

  </div>

  <div class="container-fluid text-center">
    <div class="row pull-center">

      <div class="col">

<div class="card mb-3 border border-warning">
  <h3 class="card-header bg-warning">Teams</h3>
  <div class="card-body elegant-color">
    <h5 class="card-title text-white">Mystery Teams</h5>
    <h6 class="card-subtitle text-white">Team Set-Up</h6>
  </div>
  <img class="text-center h-50 w-100"src="{% static 'images/free-money.gif' %}" alt="Teams">
  <div class="card-body bg-warning">
    <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>

  <div class="card-body elegant-color ">
    <a href="#" class="btn btn-amber text-dark card-link disabled">Coming Soon</a>
  </div>
</div>

</div>

<div class="col">

<div class="card mb-3 border border-warning">
  <h3 class="card-header bg-warning">Your World</h3>
  <div class="card-body elegant-color">
    <h5 class="card-title text-white">Money Nation</h5>
    <h6 class="card-subtitle text-white">Network</h6>
  </div>
  <img src="{% static 'images/chap.gif' %}" alt="Network">
  <div class="card-body bg-warning">
    <p class="card-text text-dark">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <div class="card-body elegant-color">
    <a href="{% url 'network:home' %}" class="btn btn-amber text-dark card-link disabled">Coming Soon</a>
    <!-- <a class="nav-link" href="{% url 'network:home' %}">Network</a> 
  </div>
</div>

</div>


</div>
</div>
-->


{% block javascript %}


{% endblock %}

{% endblock %}
