{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<br>

<div class="container">
    <div class="login-signup">
      <div class="row">
        <div class="col-sm-6 nav-tab-holder">
        <ul class="nav nav-tabs row" role="tablist">
        	<li role="presentation" class="col-sm-6 text-dark"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="text-dark">User</a></li>
      </div>

      </div>

      <div role="tabpanel" class="tab-pane" id="profile">
        <div class="row">

          <div class="col-sm-6 mobile-pull">
            <article class="bg-dark" role="login">
              <h3 class="text-center amber-text"><i class="fa fa-lock amber-text"></i> Create User Account</h3>
              <form class="signup" method="post">
              	{% csrf_token %}
                <div class="form-group text-white">
                	{{ form.username.label_tag }}
             		{% render_field form.username class="form-control" %}
                </div>
                <div class="form-group text-white">
                	{{ form.email.label_tag }}
					{% render_field form.email class="form-control" %}
                </div>
         		<div class="form-group text-white">
                	{{ form.password1.label_tag }}
                  	{% render_field form.password1 class="form-control" %}
                </div>
                <div class="form-group text-white">
                	{{ form.password2.label_tag }}
               	  	{% render_field form.password2 class="form-control" %}
                </div>
                <div class="form-group text-white">
                  <input type="submit" class="btn btn-amber btn-block"  value="SUBMIT"/>
                </div>
              </form>

            </article>
          </div>

          <div class="col-sm-6 mt-5">
            <article role="manufacturer"  class="text-center amber-text">
              <header class="bg-dark amber-text">
                New User?
              </header>
              <h1 class="amber-text">FREE</h1>
              <ul class="text-left">
                <li class="amber-text"><i class="fa fa-check amber-text"></i>  Unlimited Site Access</li>
                <li class="amber-text"><i class="fa fa-check amber-text"></i>   Unlimited Site Access</li>
                <li class="amber-text"><i class="fa fa-check amber-text"></i>  Unlimited Site Access</li>
                <li class="amber-text"><i class="fa fa-check amber-text"></i>  Unlimited Site Access</li>
              </ul>
            </article>
          </div>
        </div>
    

{% endblock %}
